<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                    <th>Country</th>
                    <th>Phone Prefix</th>
                </thead>

                <tbody>
                    @for (country of countryPhoneList; track country.name) {
                        <tr>
                            <td>
                                <div [class]=""></div>
                            </td>
                        </tr>
                    }
                   <td></td> 
                </tbody>
            </table>
        </div>
    </div>
</div>